.contenedor{
    display: flex;
    align-items: center;
    gap: 20px;

    margin: 30px auto; /* 🔥 esto los pone uno debajo del otro y centrados */
    
    border: 1px solid #ccc;
    padding: 15px;
    width: 500px;
    background: rgb(255, 255, 255);
    border-radius: 40px;
    overflow: hidden;
    box-shadow: 0 15px 30px rgba(0,0,0,0.2);
    transition: transform 0.3s;
}

/* EFECTO HOVER (opcional pero se ve pro) */
.contenedor:hover{
    transform: scale(1.03);
}

.imagen{
    width: 200px;
    height: auto;
    border-radius: 10px; /* 🔥 corregí esto (tenías una S de más) */
}

.texto{
    font-family: Arial, Helvetica, sans-serif;
    text-align: left; /* 🔥 para que el texto se vea mejor */
}

.texto h2{
    margin-bottom: 10px;
}

.texto p::first-letter{
    color: pink;
    font-size: 24px;
    font-weight: bold;
}