
/* 1. SELECTOR UNIVERSAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 2. SELECTOR DE ETIQUETA */
body {
    font-family: Arial, sans-serif;
}

/* HEADER */
#encabezado { /* 3. SELECTOR ID */
    background: rgb(0, 0, 0);
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 20px 35px;
}

/* 4. SELECTOR DE CLASE */
.titulo {
    font-size: 30px;
    text-align: center;
}

/* enlaces */
nav a {
    color: white;
    margin-left: 15px;
    text-decoration: none;
}

/* 5. PSEUDOCLASE */
nav a:hover {
    color: yellow;
}

/* PORTADA con imagen de fondo */
.portada {
    background-image: url("japan.jpg");
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 200px 40px;
}

/* botón */
.btn {
    padding: 10px 20px;
    border: none;
    background: orange;
    cursor: pointer;
}

/* pseudoclase */
.btn:hover {
    background: red;
}

/* GALERÍA */
.imagenes {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 50px;
}

.imagenes img {
    width: 400px;
    border-radius: 10px;
}

/* 6. SELECTOR DE ATRIBUTO */
input[type="text"] {
    border: 2px solid rgb(0, 0, 0);
    padding: 5px;
    margin: 20px;
}

/* 7. PSEUDOELEMENTO */
.descripcion::first-letter {
    font-size: 50px;
    color: yellow;
}

/* FOOTER */
footer {
    background: rgb(0, 0, 0);
    color: rgb(255, 251, 251);
    text-align: center;
    padding: 10px;
}
h1 {
    font-size: 200%;
    text-align: center;
    color: rgb(255, 255, 255);
    
}

li{
    text-align: center;
    font-size: 200%; 
    color: rgb(0, 0, 0);
}

h2{
    color: rgb(0, 0, 0);
    text-align: center;
}